@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700&display=swap');

body, html{
  margin: 0 auto;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 80%;
  background-color: white;
  color: black;
  text-align: justify;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

nav, li, button {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

#ademy {
  color: black;
}

.social {
  border-radius: 50%;
  margin-right: .6rem;
}

#logo:hover a{
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  html, body{
    font-size: 90%;
  }
}